fastapi
uvicorn[standard]
playwright
nest_asyncio
google-generativeai
pydantic
requests
python-dotenv
sentence-transformers
torch
exa-py
pillow
# RAG Engine dependencies
langchain-community
langchain-pinecone
langchain-google-genai
pinecone-client